includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - ./src/
        - ./cli
